
<!-- Registration form -->
<section class="section" id="contact">
  <form class="" action="/register" method="post">
  <div class="container">
    <div class="section-heading">
      <h3 class="title is-2">Subscribe</h3>
      <h4 class="subtitle is-5">Enter your details below</h4>
    </div>
    <br>

    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="box">

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" name="email" placeholder="Email input">
            </div>
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
              <input class="input" type="text" name="username" placeholder="Username">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="text" name="password"  placeholder="Password">
            </div>
          </div>

          <div class="field is-grouped has-text-centered">
            <div class="control">
              <button class="button is-link is-large"><span class="icon">
                  <i class="fas fa-envelope"></i>
                </span>
                <span>Submit</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  </form>
</section>
