<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="social">
        <a href="https://en-gb.facebook.com/"><i class="../images/facebook.svg" alt="facebook-logo"</i></a>
          <a href="https://www.instagram.com/?hl=en"><i class="../images/instagram.svg" alt="instagram-logo"</i></a>
            <a href="https://twitter.com/?lang=en-gb"><i class="../images/twitter.svg" alt="twitter-logo"</i></a>
      </div>
    </div>
  </div>
</footer>
