<nav class ="navbar">
  <div class="container">
    <div class="nav-bar-brand">
      <a class="navbar-item" href="../">
        <img src="../images/ahoy.svg" alt="Logo">
      </a>
      <span class="navbar-burger burger" data target='navbarMenu'>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navBarMenu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active">
          Home
        </a>
        <a class="navbar-item">
          About
        </a>
        <a class="navbar-item">
          Subscribe
        </a>
        <a class="navbar-item">
          Contact
        </a>
        <div class="navbar-item has-dropdown is hoverable">
          <a class="navbar-link">
            Account
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Profile
            </a>
            <a class="navbar-item">
              Dashboard
            </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
              Logout
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</nav>
