


<h1>Pieces of History</h1>
<h2>A cry of war</h2>
<% if (locals.isLoggedIn) { %>
  <p>Welcome back <%= locals.currentUser.username %></p>
<% } else { %>
  <p>You must be logged in to post</p>
<% }%>
