<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ahoy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/posts/new">Post to Ahoy</a></li>
          <li><a href="/posts">Ahoy Feed</a></li>
          <% if (locals.isLoggedIn) { %>
            <li><a href="/logout">Log out <%= locals.currentUser.username %></a></li>
          <% } else { %>
            <li><a href="/login">Log in</a></li>
            <li><a href="/register">Sign up</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <%- body %>

    <footer>
      <p>Made with ⚔️ by Theodora Birch</p>
    </footer>
  </body>
</html>
