<h1><%= username %></h1>
<h1>Posts commented on </h1>

<% comments.forEach(comment => { %>
  <p><strong><%= comment.name %></strong></p>
<% })%>

<h1>Blog posts I have added </h1>
<% addedPosts.forEach(post => { %>
    <p><strong><%= post.name %></strong></p>
<% }) %>
