
<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-5">
        <figure class="image is-4by3">
          <img src="https://i2.wp.com/www.military-history.org/wp-content/uploads/2011/01/BattleofIssus333BC-mosaic-detail1.jpg?zoom=2&resize=334%2C277" alt="Description">
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
                  <h1 id="about-title" class="title is-2">
                      Pieces of History
                  </h1>
                  <h2 id="about-subtitle" class="subtitle is-4">
                      About us
                  </h2>
                  <p>Conflict is exciting, compelling, tragic and war determines history. Think Hastings, Bosworth, D-Day. Every conflict produces its own tales of derring-do and its own heroes who are remembered in their own country and beyond: Henry V, Nelson, Montgomery.</p>
                  <br>
                  <p>Piece of History brings battles to life with action-packed narrative and authoritative detail. We tell the real stories of the heroes, both celebrated and forgotten, and battles and feats of daring on land, at sea, and in the air.</p>
                  <br>
                  <p>Pieces of History is not just about telling the stories; we lift the fog of war, and cut through the victors’ propaganda, to truly analyse what really happened, why decisions were made, and, importantly, who really won. We look at the new research, and the new theories, to bring unparalleled analysis and expert opinion of our military history, and show just how relevant it is to our military today.</p>
                  <br>
                  <p class="has-text-centered">
                      <a class="button is-medium is-info is-outlined">
          Learn more
        </a>
                  </p>
              </div>
          </div>
      </div>
  </div>
