<section class="home-page">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    Pieces of History
                </h1>
                <h2 class="subtitle">
                  A Historical call to Battle
                </h2>
                <% if (locals.isLoggedIn) { %>
                  <p>Welcome back <%= locals.currentUser.username %></p>
                  <% } else { %>
                    <p>You must be logged in to post</p>
                    <% }%>
                <button type="button" name="Enter the site" placeholder="Enter the site here"></button>
            </div>
        </div>
    </div>
</section>
