body {
    font-family: 'Cinzel', serif;
    width: 100vw;
}

#home {
  padding-bottom: 28rem;
}
h1 {
  font-family: 'Cinzel', serif;
}
h2 {
  font-family: 'Cinzel', serif;
}
textarea #name.textarea {
  font-family: 'Cinzel', serif;
}

p {
  font-family: 'Cinzel', serif;
  color: black;
  font-size: 15px;
}
.comment-box {
  width: 100%;
}

.delete-comment-button {
  margin-bottom: 8px;
}
div {
  font-family: 'Cinzel', serif;
}
button {
  font-family: 'Cinzel', serif;
}
input {
  font-family: 'Cinzel', serif;
}
header ul {
  display: flex;
  justify-content: space-around;
}
.content  span.button.is-link {
  background-color: white ;
  color: black;
  font-weight: bold;
  border-radius: 0;
}
div.card-content {
  min-height: 320px;
}

div.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 300px;
}
.logged-in {
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  font-weight: bold;
}
#copyright {
  font-family: 'Cinzel', serif;
}
#navbarMenu {
  font-family: 'Cinzel', serif;
  color: grey;
}

#home-title {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
}
#home-subtitle {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
}

}
#about-title {
  color: black;
  font-family: 'Cinzel', serif;
}

}
#about-subtitle {
  color: black;
  font-family: 'Cinzel', serif;
}
}
#boat-image {
  margin-top:-35px;
  height: 70%;
  width: 70%;
  margin-left: 206px;
}
#pieces-of-history {
  margin-top: -700px;
  color: white;
}
#show-page-banner {
  background-color: grey;
}
#reclor {
font-weight: bold;
color: grey;
font-size: 20px;
}
.hero-foot {
  background-color: white;
  flex-shrink: 0;
}
header li {
  list-style: none;
}

h1 .title {
  font-color: white;
}
.column {
  margin-top: 20px;
}

div.card-content {
  background-color: #e4e2df;
}

/* .Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
} */

a {
  text-decoration: none;
  color: grey;
}

body {
  font-family: Helvetica,sans-serif;
}

.post-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag {
  display: inline-block;
  background-color: #0073;
  text-align: center;
  min-width: 50px;
  color: white;
  padding: 4px;
}

main {
  max-width: 768px;
  margin: 0 auto;
}

.show-image {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
.button.is-primary {
  background-color: grey;
  color: black;
  font-weight: bold;
}
.button.is-fullwidth {
  background-color: grey;
  color: black;
  font-weight: bold;
  font-family: 'Cinzel', serif;
}

 .buttons .button {
   background-color: grey;
   color: black;
   font-weight: bold;
   font-family: 'Cinzel', serif;
 }
 h3.title.is-2 {
   text-align: center;
 }
 h4.subtitle.is-5 {
   text-align: center;
 }
 .hero.is-small .hero-body {
   background-color: white;
   color: black;
   font-weight: bold;
 }
.hero.is-info .title {
  color: black;
}
.the-show-text {
  margin-bottom: 75px;
}
.buttons:not(:last-child) {
  margin-top: -44px;
}
.button.is-large {
  background-color: grey;
  color: white;
  font-weight: bold;
}
.button {
  height: 50px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 75px;
  font-size: inherit;
  border-radius: 10px;
}

.button:hover {
  background-color: grey;
}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  height: 30px;
  font-size: inherit;
  padding-left: 10px;
}
