<%# // need to discuss this section  %>
<main>
  <h1> Ahoy: A battle cry </h1>
  <div class="blog-entry-grid">
    <% blogData.forEach(entry => {%>
      <div>
      <a href="/blogEntries/<%= blogEntry.id %>">
      <img width="200px" height="200px" src="<%= blogEntry.image %>" />
      <h3><%= blogData.name %></h3>
      </a>
      </div>
      <% }) %>
    </div>
</main>
