<div class=" index-page-container">
  <div class="columns is-multiline">
    <% posts.forEach(post => {%>
      <div class="column is-4 index">
      <a href="/posts/<%= post.id %>">
      <img width="200px" height="200px" src="<%= post.image %>"/></a>
      <h3><%= post.title %></h3>
      <p><%= post.shortSummary %></p>
      </div>
      <% }) %>
    </div>
  </div>
