<form action="/posts" method="post">
  <div class="control">
    <label for="name">Title</label>
    <input name="name" id="name" placeholder="Title of the post">
  </div>
  <div class="control">
    <label for="name">Text</label>
    <input name="name" id="name" placeholder="Blog content">
  </div>
  <div class="control">
    <label for="name">Author</label>
    <input name="name" id="name" placeholder="Author's name">
  </div>
  <div class="control">
    <label for="name">Image (URL)</label>
    <input name="image" id="name" placeholder="http://...">
  </div>

  <button class="button">Post to Ahoy</button>
</form>
